header {
    background-color: rgb(16, 161, 205);
    height: 55px;
    background-image: url(../img/pattern.png);
    background-size: 15%;
    background-repeat: repeat;

}
.header-imagine{
    height: 30px;
  
}
.color-grigio{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 140, 140);
    font-size: 15px;
}
.color-azzurro{
    color: aqua;
}
.font-piccolo{
    font-size: 10px;
}
main{
    font-family: Arial, Helvetica, sans-serif;
}
.didascalia{
    font-size: 10px;

}
.evidenziato{
    background-color: yellow;
}
.table-intestazione{
    width: 100%;
    background-color: aqua;
    color: white;

}
.table-contenuto-dispari{
    background-color: aquamarine;
}
table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
  }